@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    
}


.header{
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: #1d1e20;
    font-size: 1.5rem;
    flex: wrap;
}

hr {
    margin:20px;
}

img {
    max-width: 100%;
    display: block;
    width: 190px;
    height: 130px;
    margin: 10px;

}

.formJokenpo{
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin: 40px;
  align-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
}

.button{
 display: flexbox;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.flex > div {
  flex: 1 1 200px;
 margin: 5px
}

#computador {
    display: flex;
    align-items: center;
  
}
#jogador-pontos, #computador-pontos {
    position: absolute;
    font-size: 30px;
    right: 40px;
  }
  
#versus {
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    color: #D81E5B;
    
 }


#placar {
   font-size: 40px;
   border-radius: 5px;
   margin: 40px 0;
   padding: 20px;
   

}

span {
  font-size: large;
}


