@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Quando a tela for menor que 600px*/

@media (min-width: 960px) {

  
  *{
    padding: 20px;
    margin: 10%;
    background-color:#00D1AC;  
  }

  body{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

    img {
    display: block;
    width: 60px;
    height: 50px;
    margin: 10px;
}




*{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    background-color:#00D1AC;
    font-size: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    
}

.header{
  margin-top: 14px;
  font-size: 1.2rem;
}


img {
    max-width: 80%;
    display: block;
    width: 140px;
    height: 130px;
    margin: 10px;
}

#pc {
  width: 130px;
  height: 130px;
}

#formJokenpo{
   
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-align: left;

}

#jogar, #reset, #jogarNovamente{
  margin: 0 20px;  /*sentido horario */
  padding: 8px 16px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 4px 4px 4px black; /* x,y,z cor */
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
    
}

.flex > div {
  flex: 1 1 200px;
  
}

#computador {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-align: left;
    
}
#jogador-pontos, #computador-pontos {
    margin: 5px;
    font-size: 1.2rem;
    right: 40px;
}
  
#versus {
    margin-top: 8px;  
    font-size: 3rem;
    text-align: center;
    color: #D81E5B;
}


#placar {
   font-size: 1.2rem;
   border-radius: 5px;
}

span {
  font-size: 1rem;
}

footer{
  margin-bottom: 0px;
  text-align: center;
  font-size: 1rem;
 
}

#jogar-novamente{
  display: none;
  
}

#resultado{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  border: solid black;
  padding: 5px;
  padding-bottom: 20px;
  
}

#resultado > H1 {
  color: #D81E5B;
}

#resultado > button {
  border-radius: 40%;
}

#resultadoGanhador {
  font-size: 1.2rem;
}



}

/* 
@media (min-width: 960px) and (max-width: 1024) {
}
@media (min-width: 1200px) {
} */
